p {
    margin: 0;
}
h1{
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

.nav {
    margin: 0;
    background-color: aqua;
    height: 55px;
    width: 100%;
    background-image: url(img/pattern.png);
    background-size: cover;
    text-align: justify left;
}



